In [1]:
spark

# Initial Setup (Install and import necessary packages)

In [2]:
!pip install gcsfs
!pip install openpyxl

Requirement already satisfied: gcsfs in /opt/conda/miniconda3/lib/python3.11/site-packages (2023.12.2.post1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (3.10.10)
Requirement already satisfied: decorator>4.1.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (5.1.1)
Requirement already satisfied: fsspec==2023.12.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2023.12.2)
Requirement already satisfied: google-auth>=1.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2.35.0)
Requirement already satisfied: google-auth-oauthlib in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (1.1.0)
Requirement already satisfied: google-cloud-storage in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2.13.0)
Requirement already satisfied: requests in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2.31.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth-oauthlib->gcsfs) (2.0.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.21.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.6.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.7.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (1.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (2024.8.30)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.65.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (4.24.4)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.25.0)
Requirement already satisfied: cffi>=1.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-crc32c<2.0dev,>=1.0->google-cloud-storage->gcsfs) (1.16.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)
Requirement already satisfied: propcache>=0.2.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from yarl<2.0,>=1.12.0->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (0.2.0)
Requirement already satisfied: pycparser in /opt/conda/miniconda3/lib/python3.11/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-cloud-storage->gcsfs) (2.21)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 6.9 MB/s eta 0:00:0000:01
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
import pandas as pd
import gcsfs
import calendar
from google.cloud import storage
from google.cloud.exceptions import NotFound
from pyspark.sql import Row
from pyspark.sql.functions import col, lower, instr, date_format, split, rand, regexp_replace, trim
from pyspark.sql.functions import monotonically_increasing_id # virtually the same as factorize() from pandas.

In [4]:
# Define the bucket we will save to. Many areas will reference this variable later
bucket = "ppp-loans-bucket"

# Read clean data into appropriate dataframes

In [5]:
ppp_df = spark.read.parquet("gs://ppp-loans-bucket/cleaned/part-*")#.sample(fraction=0.001,seed=42)

In [6]:
ppp_df.count()

10406068

In [7]:
fs = gcsfs.GCSFileSystem(project='cis4400-group-project')
with fs.open("ppp-loans-bucket/cleaned/GDP.csv") as f:
    gdp_df = pd.read_csv(f)
gdp_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2017,2018,2019,2020,2021,2022
0,1000,Alabama,5.0,CAGDP1,1,...,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,216615470,220808767,224944577,222081439,231892626,235807320
1,1000,Alabama,5.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,101.936,103.845,102.523,107.053,108.86
2,1000,Alabama,5.0,CAGDP1,3,...,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,216615470,226263784,234526408,235118280,257986516,281569005
3,1001,"Autauga, AL",5.0,CAGDP1,1,...,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,1762558,1787534,1730861,1722438,1727818,1929264
4,1001,"Autauga, AL",5.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,101.417,98.202,97.724,98.029,109.458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9526,97000,Rocky Mountain,7.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,104.559,109.552,109.329,116.661,119.324
9527,97000,Rocky Mountain,7.0,CAGDP1,3,...,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,681310123,730567674,776281078,781272363,880142487,974682556
9528,98000,Far West,8.0,CAGDP1,1,...,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,3797440495,3956948041,4108525822,4048649569,4342903004,4385657757
9529,98000,Far West,8.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,104.2,108.192,106.615,114.364,115.49
9530,98000,Far West,8.0,CAGDP1,3,...,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,3797440495,4026578971,4252235190,4254017130,4732878464,5066773749

In [8]:
fs = gcsfs.GCSFileSystem(project='cis4400-group-project')
with fs.open('ppp-loans-bucket/cleaned/NAICS.csv') as f:
    naics_df = pd.read_csv(f)
naics_df

,2022 NAICS US Code,2022 NAICS US Title,industry_type
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...
2120,9281,National Security and International Affairs,Public Administration
2121,92811,National Security,Public Administration
2122,928110,National Security,Public Administration
2123,92812,International Affairs,Public Administration
2124,928120,International Affairs,Public Administration

# Checking columns

In [9]:
ppp_df.columns

['LoanNumber',
 'DateApproved',
 'SBAOfficeCode',
 'ProcessingMethod',
 'BorrowerName',
 'BorrowerAddress',
 'BorrowerCity',
 'BorrowerState',
 'BorrowerZip',
 'LoanStatusDate',
 'LoanStatus',
 'Term',
 'SBAGuarantyPercentage',
 'InitialApprovalAmount',
 'CurrentApprovalAmount',
 'UndisbursedAmount',
 'FranchiseName',
 'ServicingLenderLocationID',
 'ServicingLenderName',
 'ServicingLenderAddress',
 'ServicingLenderCity',
 'ServicingLenderState',
 'ServicingLenderZip',
 'RuralUrbanIndicator',
 'HubzoneIndicator',
 'LMIIndicator',
 'BusinessAgeDescription',
 'ProjectCity',
 'ProjectCountyName',
 'ProjectState',
 'ProjectZip',
 'CD',
 'JobsReported',
 'NAICSCode',
 'Race',
 'Ethnicity',
 'PAYROLL_PROCEED',
 'BusinessType',
 'OriginatingLenderLocationID',
 'OriginatingLender',
 'OriginatingLenderCity',
 'OriginatingLenderState',
 'Gender',
 'Veteran',
 'NonProfit',
 'ForgivenessAmount',
 'ForgivenessDate',
 'forgiveness_date',
 'date_approved',
 'loan_status_date']

In [10]:
gdp_df.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '2017', '2018', '2019',
       '2020', '2021', '2022'],
      dtype='object')

In [11]:
naics_df.columns

Index(['2022 NAICS US Code', '2022 NAICS US Title', 'industry_type'], dtype='object')

# Reformatting

In [12]:
# Changes a list of columns to a certain datatype. This is for PySpark dataframes.
# You give it... 
#  1. The dataframe you want to modify
#  2. The list of strings for the name of columns you want to be modified
#  3. The datetype you want to modify them to

def change_cols_to_type(df, list_of_columns, data_type):
    for column in list_of_columns:
        df = df.withColumn(column, df[column].cast(data_type))
    return df

In [13]:
ppp_df_cols_to_float = ["InitialApprovalAmount", "CurrentApprovalAmount",
                "UndisbursedAmount", "ForgivenessAmount", 
                 "SBAGuarantyPercentage", "JobsReported"]
ppp_df_cols_to_long = ["ServicingLenderLocationID", "OriginatingLenderLocationID"]

ppp_df = change_cols_to_type(ppp_df, ppp_df_cols_to_float, "float")
ppp_df = change_cols_to_type(ppp_df, ppp_df_cols_to_long, "long")

#naics_df['2022 NAICS US Code'] = naics_df['2022 NAICS US Code'].astype(int)

ppp_df.printSchema()

root
 |-- LoanNumber: long (nullable = true)
 |-- DateApproved: string (nullable = true)
 |-- SBAOfficeCode: integer (nullable = true)
 |-- ProcessingMethod: string (nullable = true)
 |-- BorrowerName: string (nullable = true)
 |-- BorrowerAddress: string (nullable = true)
 |-- BorrowerCity: string (nullable = true)
 |-- BorrowerState: string (nullable = true)
 |-- BorrowerZip: string (nullable = true)
 |-- LoanStatusDate: string (nullable = true)
 |-- LoanStatus: string (nullable = true)
 |-- Term: string (nullable = true)
 |-- SBAGuarantyPercentage: float (nullable = true)
 |-- InitialApprovalAmount: float (nullable = true)
 |-- CurrentApprovalAmount: float (nullable = true)
 |-- UndisbursedAmount: float (nullable = true)
 |-- FranchiseName: string (nullable = true)
 |-- ServicingLenderLocationID: long (nullable = true)
 |-- ServicingLenderName: string (nullable = true)
 |-- ServicingLenderAddress: string (nullable = true)
 |-- ServicingLenderCity: string (nullable = true)
 |-- ServicingLenderState: string (nullable = true)
 |-- ServicingLenderZip: string (nullable = true)
 |-- RuralUrbanIndicator: string (nullable = true)
 |-- HubzoneIndicator: string (nullable = true)
 |-- LMIIndicator: string (nullable = true)
 |-- BusinessAgeDescription: string (nullable = true)
 |-- ProjectCity: string (nullable = true)
 |-- ProjectCountyName: string (nullable = true)
 |-- ProjectState: string (nullable = true)
 |-- ProjectZip: string (nullable = true)
 |-- CD: string (nullable = true)
 |-- JobsReported: float (nullable = true)
 |-- NAICSCode: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Ethnicity: string (nullable = true)
 |-- PAYROLL_PROCEED: string (nullable = true)
 |-- BusinessType: string (nullable = true)
 |-- OriginatingLenderLocationID: long (nullable = true)
 |-- OriginatingLender: string (nullable = true)
 |-- OriginatingLenderCity: string (nullable = true)
 |-- OriginatingLenderState: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Veteran: string (nullable = true)
 |-- NonProfit: string (nullable = true)
 |-- ForgivenessAmount: float (nullable = true)
 |-- ForgivenessDate: string (nullable = true)
 |-- forgiveness_date: date (nullable = true)
 |-- date_approved: date (nullable = true)
 |-- loan_status_date: date (nullable = true)

# Function that creates ID's for columns in a Spark Dataframe

In [14]:
def create_ids(df,id_column_name=None):
    #Transforms PySpark dataframe
    if isinstance(df, PySparkDataFrame):
        print("Transforming PySpark DataFrame...")
        
        if id_column_name is None:
            id_column_name = "id"
        
        # Extract the original schema
        original_schema = df.schema

        # Add an ID column using zipWithIndex
        df_with_index = (
            df.rdd
            .zipWithIndex()  # Add an index to each row
            .map(lambda x: Row(**dict(x[0].asDict(), id=x[1])))  # Add 'id' to each row
        )

        # Define the new schema with the ID column added
        new_schema = original_schema.add(id_column_name, "long")

        # Create a new DataFrame with the updated schema
        df_with_index = spark.createDataFrame(df_with_index, schema=new_schema)
        
        print("Completed transforming PySpark DataFrame.")
        return df_with_index
    
    #No valid dataframe found
    else:
        print("ERROR: INVALID DATAFRAME - NO PROCEDURE APPLIED.")
        print("Did you try inputting a PySpark Dataframe?")

# Function to turn column names to snake_case

In [15]:
#Turns any columns that has TheseColumnsNames to these_column_names
import re
from pyspark.sql import DataFrame as PySparkDataFrame
def name_to_snake_case(name):
    # Add underscores before capital letters, then convert to lowercase
    return re.sub(r'(?<!^)(?=[A-Z])', '_', name).lower()

#Takes in any type of dataframe and turns its columns into snake_case
def df_to_snake_case(df):
    
    #Transforms PySpark dataframe
    if isinstance(df, PySparkDataFrame):
        print("Transforming PySpark DataFrame...")
        # Rename all columns to snake_case
        snake_case_columns = [name_to_snake_case(col) for col in df.columns]
        df_snake_case = df.toDF(*snake_case_columns)
        print("Completed transforming PySpark DataFrame.")
        return df_snake_case
    
    #Transforms Pandas dataframe
    elif isinstance(df, pd.DataFrame):
        print("Transforming Pandas DataFrame...")
        # Rename all columns to snake_case
        df.columns = [name_to_snake_case(col) for col in df.columns]
        print("Completed transforming Pandas DataFrame.")
        return df
    
    #No valid dataframe found
    else:
        print("ERROR: INVALID DATAFRAME - NO PROCEDURE APPLIED")

In [16]:
# initialize array. Append all dims and tables here. At the end, we loop through this list to save all dataframes.
tables = []

In [17]:
# Function to check how unique a column is. This will be used to verify all ID's in an ID column are unique.
def check_uniqueness(df, col_name):
    if isinstance(df, PySparkDataFrame):
        total_count = df.count()
        distinct_count = df.select(col_name).distinct().count()
    elif isinstance(df, pd.DataFrame):
        total_count = len(df)
        distinct_count = df[col_name].nunique()

    if total_count == distinct_count:
        print(f"The column '{col_name}' contains all unique values.")
    else:
        print(f"The column '{col_name}' contains duplicates. Total rows: {total_count}, Distinct rows: {distinct_count}")

# Dim Borrower

In [18]:
#Create Dim
dim_borrower = ppp_df.select("LoanNumber","BorrowerName","BorrowerAddress",
                            "BorrowerCity","BorrowerState","BorrowerZip",
                            "FranchiseName","BusinessAgeDescription",
                            "Race","Ethnicity","BusinessType","Gender",
                            "Veteran","NonProfit")

#Fix Names
dim_borrower = dim_borrower.withColumnRenamed("LoanNumber","borrower_id")
dim_borrower = df_to_snake_case(dim_borrower)

#Add to tables
tables.append([dim_borrower,"dim_borrower"])

#Show
dim_borrower.show()
dim_borrower.columns

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.

+-----------+--------------------+--------------------+-----------------+--------------+------------+--------------------+------------------------+--------------------+-----------------+--------------------+------------+-----------+----------+
|borrower_id|       borrower_name|    borrower_address|    borrower_city|borrower_state|borrower_zip|      franchise_name|business_age_description|                race|        ethnicity|       business_type|      gender|    veteran|non_profit|
+-----------+--------------------+--------------------+-----------------+--------------+------------+--------------------+------------------------+--------------------+-----------------+--------------------+------------+-----------+----------+
| 7617718505|LOCUM TENENS PART...|145 Technology Pk...|Peachtree Corners|            GA|  30092-3536|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 4948677304|CARITAS MEDICAL C...|      105 N PARK TRL|      STOCKBRIDGE|            GA|  30281-7432|                NULL|    Existing or more ...|Black or African ...|Unknown/NotStated|         Corporation|  Male Owned|Non-Veteran|      NULL|
| 1158507802| VERISOLUTIONS, INC.|  75 5TH ST STE 3120|          ATLANTA|            GA|  30308-1078|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 4654547000|VICKERY ROSE RETI...|295 E. Crossville...|          ROSWELL|            GA|  30075-3027|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 5551147000|GEORGIA CARE GROU...|4480 Valnorth Dri...|         Valdosta|            GA|       31602|Home Instead/Home...|    New Business or 2...|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 7253827004|SRJ ARCHITECTS, INC.|    1108 MARYLAND DR|           ALBANY|            GA|  31707-3879|                NULL|    Existing or more ...|               White|Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 6901687004|GAINESVILLE REGIO...|       743 SPRING ST|      GAINESVILLE|            GA|  30501-3715|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 1246748310|AIRTIGHT DESIGN, LLC|659 Auburn Ave NE...|          Atlanta|            GA|  30312-1976|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 9916187101| SCIENTIFIC TURF INC|248 ROSE DR Suite...|        BRUNSWICK|            GA|  31520-2944|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 8749968506|ACORN THERMAL SER...|306 Downing Creek...|           Canton|            GA|  30114-6587|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Limited Liability...|  Unanswered| Unanswered|      NULL|
| 6475217304|MCDONOUGH URBAN A...|   1970 Jonesboro rd|        MCDONOUGH|            GA|       30253|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 2945007101|ATHENS GASTROENTE...|3320 OLD JEFFERSO...|           ATHENS|            GA|       30607|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 5228487204|CROISSANT BAKERY LLC|6514 warren dr su...|         Norcross|            GA|       30093|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Male Owned|Non-Veteran|      NULL|
| 5834597006|GODLEY STATION AN...|    127 Canal Street|           POOLER|            GA|  31322-4016|                NULL|              Unanswered|          Unanswered|Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 6115508300|PROFESSIONAL PRIC...|3535 Roswell Rd S...|         Marietta|            GA|  30062-8828|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Male Owned| Unanswered|      NULL|
| 6833347102| WOMEN WHO CODE, INC|695 PYLANT ST NE ...|          ATLANTA|            GA|  30306-3728|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|Female Owned|Non-Veteran|      NULL|
| 7757507104|COMNEXIA CORPORATION|590 WEST CROSSVIL...|          ROSWELL|            GA|  30075-2506|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Male Owned| Unanswered|      NULL|
| 9076867002|CORRECTIONAL RESO...|        123 DAM ROAD|          JACKSON|            GA|  30233-4823|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Subchapter S Corp...|  Unanswered| Unanswered|      NULL|
| 9536127103|PROFESSIONAL PRIC...|     3535 ROSWELL RD|         MARIETTA|            GA|  30062-8828|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 9923628510|TEMPLE EMANU-EL O...|    1580 Spalding Dr|          Atlanta|            GA|  30350-4212|                NULL|    Existing or more ...|          Unanswered|Unknown/NotStated|Non-Profit Organi...|  Unanswered| Unanswered|         Y|
+-----------+--------------------+--------------------+-----------------+--------------+------------+--------------------+------------------------+--------------------+-----------------+--------------------+------------+-----------+----------+
only showing top 20 rows

['borrower_id',
 'borrower_name',
 'borrower_address',
 'borrower_city',
 'borrower_state',
 'borrower_zip',
 'franchise_name',
 'business_age_description',
 'race',
 'ethnicity',
 'business_type',
 'gender',
 'veteran',
 'non_profit']

# Dim SBA office

In [19]:
#Create Dim
dim_SBA_office = ppp_df.select("SBAOfficeCode").distinct().toPandas()

#Fix Names
dim_SBA_office = df_to_snake_case(dim_SBA_office)
dim_SBA_office.rename(columns={'s_b_a_office_code':'SBA_office_code'}, inplace=True)

#Add to tables
tables.append([dim_SBA_office,"dim_SBA_office"])

#Show
dim_SBA_office

Transforming Pandas DataFrame...
Completed transforming Pandas DataFrame.

    SBA_office_code
0               876
1               914
2               811
3               912
4               206
..              ...
71              508
72             1086
73              172
74             9030
75              150

[76 rows x 1 columns]

# Dim Processing Method

In [20]:
#Create Dim
dim_processing_method = ppp_df.select("ProcessingMethod").distinct().toPandas()

#Fix Names
dim_processing_method = df_to_snake_case(dim_processing_method)

#Add to tables
tables.append([dim_processing_method,"dim_processing_method"])

#Show
dim_processing_method

Transforming Pandas DataFrame...
Completed transforming Pandas DataFrame.

  processing_method
0               PPP
1               PPS

# Dim Originating Lender

In [21]:
#Create Dim
dim_originating_lender = ppp_df.select("OriginatingLenderLocationID",
                                      "OriginatingLender","OriginatingLenderCity",
                                      "OriginatingLenderState")

#Fix Names
dim_originating_lender = df_to_snake_case(dim_originating_lender)
dim_originating_lender = dim_originating_lender.withColumnRenamed("originating_lender_location_i_d","originating_lender_location_id")

#Add to tables
tables.append([dim_originating_lender,"dim_originating_lender"])

#Show
dim_originating_lender.show()

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.
+------------------------------+--------------------+-----------------------+------------------------+
|originating_lender_location_id|  originating_lender|originating_lender_city|originating_lender_state|
+------------------------------+--------------------+-----------------------+------------------------+
|                        434059|         Primis Bank|           TAPPAHANNOCK|                      VA|
|                        225134|         Truist Bank|              CHARLOTTE|                      NC|
|                         58036|    Fifth Third Bank|             CINCINNATI|                      OH|
|                         42290|Union Bank and Tr...|                LINCOLN|                      NE|
|                        455644|Live Oak Banking ...|             WILMINGTON|                      NC|
|                        437877|Flint Community Bank|                 ALBANY|                      GA|
|                        434107|Peach State Bank ...|            Gainesville|                      GA|
|                         81965|Affinity Bank, Na...|              Covington|                      GA|
|                         19668|Citizens Bank of ...|           SANDERSVILLE|                      GA|
|                        225134|         Truist Bank|              CHARLOTTE|                      NC|
|                         48270|JPMorgan Chase Ba...|               COLUMBUS|                      OH|
|                        119947|      HomeTrust Bank|                Suwanee|                      GA|
|                        225134|         Truist Bank|              CHARLOTTE|                      NC|
|                        250423|  First Chatham Bank|               SAVANNAH|                      GA|
|                        527106|    Loyal Trust Bank|            JOHNS CREEK|                      GA|
|                         59698|         Umpqua Bank|               ROSEBURG|                      OR|
|                        434138|    ServisFirst Bank|             BIRMINGHAM|                      AL|
|                         88011|Heritage Bank, A ...|              Jonesboro|                      GA|
|                        527106|    Loyal Trust Bank|            JOHNS CREEK|                      GA|
|                        225134|         Truist Bank|              CHARLOTTE|                      NC|
+------------------------------+--------------------+-----------------------+------------------------+
only showing top 20 rows

# Dim Servicing Lender

In [22]:
#Create Dim
dim_servicing_lender = ppp_df.select('ServicingLenderLocationID', 'ServicingLenderName',
                                     'ServicingLenderAddress', 'ServicingLenderCity', 
                                     'ServicingLenderState','ServicingLenderZip')

#Fix Names
dim_servicing_lender = df_to_snake_case(dim_servicing_lender)

#Add to tables
tables.append([dim_servicing_lender,"dim_servicing_lender"])

#Show
dim_servicing_lender.show()

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.
+-----------------------------+---------------------+------------------------+---------------------+----------------------+--------------------+
|servicing_lender_location_i_d|servicing_lender_name|servicing_lender_address|servicing_lender_city|servicing_lender_state|servicing_lender_zip|
+-----------------------------+---------------------+------------------------+---------------------+----------------------+--------------------+
|                       434059|          Primis Bank|         307 Church Lane|         TAPPAHANNOCK|                    VA|               22560|
|                       225134|          Truist Bank|          214 N Tryon St|            CHARLOTTE|                    NC|          28202-1078|
|                        58036|     Fifth Third Bank|      38 Fountain Sq Plz|           CINCINNATI|                    OH|               45263|
|                        42290| Union Bank and Tr...|          3643 S 48th St|              LINCOLN|                    NE|          68506-4341|
|                       455644| Live Oak Banking ...|         1741 Tiburon Dr|           WILMINGTON|                    NC|          28403-6244|
|                       437877| Flint Community Bank|        2910 Meredyth Dr|               ALBANY|                    GA|          31721-1589|
|                       434107| Peach State Bank ...|     121, EE Butler Pkwy|          Gainesville|                    GA|               30501|
|                        81965| Affinity Bank, Na...|            3175 Hwy 278|            Covington|                    GA|               30014|
|                        19668| Citizens Bank of ...|         132 S Harris St|         SANDERSVILLE|                    GA|          31082-1702|
|                       225134|          Truist Bank|          214 N Tryon St|            CHARLOTTE|                    NC|          28202-1078|
|                        48270| JPMorgan Chase Ba...|       1111 Polaris Pkwy|             COLUMBUS|                    OH|          43240-2031|
|                        77468|       HomeTrust Bank|           10 Woodfin St|            ASHEVILLE|                    NC|          28801-3022|
|                       225134|          Truist Bank|          214 N Tryon St|            CHARLOTTE|                    NC|          28202-1078|
|                       250423|   First Chatham Bank|          111 Barnard St|             SAVANNAH|                    GA|          31401-3219|
|                       527106|     Loyal Trust Bank|    11675 Medlock Bri...|          JOHNS CREEK|                    GA|          30097-1565|
|                        59698|          Umpqua Bank|    445 SE Main St, F...|             ROSEBURG|                    OR|          97470-4934|
|                       434138|     ServisFirst Bank|    2500 Woodcrest Place|           BIRMINGHAM|                    AL|          35209-1374|
|                       120708|       The First Bank|       6480 Hwy 98, West|          HATTIESBURG|                    MS|               39402|
|                       527106|     Loyal Trust Bank|    11675 Medlock Bri...|          JOHNS CREEK|                    GA|          30097-1565|
|                       225134|          Truist Bank|          214 N Tryon St|            CHARLOTTE|                    NC|          28202-1078|
+-----------------------------+---------------------+------------------------+---------------------+----------------------+--------------------+
only showing top 20 rows

# Dim Date

In [23]:
def week_of_month(dt):
    year = dt.year
    month = dt.month
    day = dt.day
    
    cal = calendar.monthcalendar(year,month)
    week_number = (day - 1) // 7 + 1
    return week_number

    
#Create Dim
start_date = pd.to_datetime("2017-01-01")
end_date = pd.to_datetime("2022-12-31")

dim_date = pd.DataFrame({"date": pd.date_range(start_date, end_date, freq="D")})

dim_date['date_id'] = dim_date['date'].dt.strftime('%Y%m%d')
dim_date['year_number'] = dim_date['date'].dt.year
dim_date['month_number'] = dim_date['date'].dt.month
dim_date['day_number'] = dim_date['date'].dt.day
dim_date['week_number'] = dim_date['date'].dt.strftime('%V')
dim_date['week_of_month'] = dim_date['date'].apply(week_of_month)
dim_date['week_of_year'] = dim_date['date'].dt.strftime('%U')
dim_date['month_name'] = dim_date['date'].dt.strftime('%B')
dim_date['day_name'] = dim_date['date'].dt.strftime('%A')
dim_date['timestamp_isoformat'] = dim_date['date'].apply(lambda x: x.isoformat())

#Add to tables
tables.append([dim_date,"dim_date"])

#Show
#print(dim_date.shape)
#print(dim_date.info())
#print(dim_date.head())
dim_date.head()

,date,date_id,year_number,month_number,day_number,week_number,week_of_month,week_of_year,month_name,day_name,timestamp_isoformat
0,2017-01-01,20170101,2017,1,1,52,1,01,January,Sunday,2017-01-01T00:00:00
1,2017-01-02,20170102,2017,1,2,01,1,01,January,Monday,2017-01-02T00:00:00
2,2017-01-03,20170103,2017,1,3,01,1,01,January,Tuesday,2017-01-03T00:00:00
3,2017-01-04,20170104,2017,1,4,01,1,01,January,Wednesday,2017-01-04T00:00:00
4,2017-01-05,20170105,2017,1,5,01,1,01,January,Thursday,2017-01-05T00:00:00

# Dim Industry

In [24]:
naics_df

,2022 NAICS US Code,2022 NAICS US Title,industry_type
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...
2120,9281,National Security and International Affairs,Public Administration
2121,92811,National Security,Public Administration
2122,928110,National Security,Public Administration
2123,92812,International Affairs,Public Administration
2124,928120,International Affairs,Public Administration

In [25]:
#Create Dim
dim_industry = pd.DataFrame()
dim_industry['NAICS_code'] = naics_df['2022 NAICS US Code']
dim_industry['industry_name'] = naics_df['2022 NAICS US Title']
dim_industry['industry_type'] = naics_df['industry_type']

#Add unique ID
dim_industry['industry_id'] = pd.factorize(dim_industry['NAICS_code'])[0] + 1

#Add to tables
tables.append([dim_industry,"dim_industry"])

#Show
dim_industry.head()

,NAICS_code,industry_name,industry_type,industry_id
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting",1
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting",2
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting",3
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",4
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",5

# Dim Census Location

In [26]:
#Create Dim
dim_census_location = ppp_df.select('ProjectCity','ProjectCountyName', 
                                    'ProjectState', 'ProjectZip','CD')
dim_cen_count_BEFORE = dim_census_location.count()

In [27]:
#Fix Names
dim_census_location = dim_census_location.withColumnRenamed("CD","cd")
dim_census_location = df_to_snake_case(dim_census_location)

#Add unique ID
dim_census_location = create_ids(dim_census_location, "census_location_id")

#Add to tables
tables.append([dim_census_location,"dim_census_location"])

#Show
dim_census_location.show()

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.
Transforming PySpark DataFrame...

Completed transforming PySpark DataFrame.
+-----------------+-------------------+-------------+-----------+-----+------------------+
|     project_city|project_county_name|project_state|project_zip|   cd|census_location_id|
+-----------------+-------------------+-------------+-----------+-----+------------------+
|Peachtree Corners|           GWINNETT|           GA| 30092-3536|GA-07|                 0|
|      STOCKBRIDGE|              HENRY|           GA| 30281-7432|GA-13|                 1|
|          ATLANTA|             FULTON|           GA| 30308-1078|GA-05|                 2|
|          ROSWELL|             FULTON|           GA| 30075-3027|GA-06|                 3|
|         Valdosta|            LOWNDES|           GA| 31602-0001|GA-08|                 4|
|           ALBANY|          DOUGHERTY|           GA| 31707-3879|GA-02|                 5|
|      GAINESVILLE|               HALL|           GA| 30501-3715|GA-09|                 6|
|          Atlanta|             FULTON|           GA| 30312-1976|GA-05|                 7|
|        BRUNSWICK|              GLYNN|           GA| 31520-2944|GA-01|                 8|
|           Canton|           CHEROKEE|           GA| 30114-6587|GA-11|                 9|
|        MCDONOUGH|              HENRY|           GA| 30253-0001|GA-10|                10|
|           ATHENS|             CLARKE|           GA| 30607-1000|GA-10|                11|
|         Norcross|           GWINNETT|           GA| 30093-0001|GA-07|                12|
|           POOLER|            CHATHAM|           GA| 31322-4016|GA-01|                13|
|         Marietta|               COBB|           GA| 30062-8828|GA-06|                14|
|          ATLANTA|             FULTON|           GA| 30306-3728|GA-05|                15|
|          ROSWELL|             FULTON|           GA| 30075-2506|GA-06|                16|
|          JACKSON|              BUTTS|           GA| 30233-4823|GA-10|                17|
|         MARIETTA|               COBB|           GA| 30062-8828|GA-06|                18|
|          Atlanta|             FULTON|           GA| 30350-4212|GA-06|                19|
+-----------------+-------------------+-------------+-----------+-----+------------------+
only showing top 20 rows

In [28]:
#Count
dim_cen_count_AFTER = dim_census_location.count()
print("Records in dim_census_location BEFORE: "+str(dim_cen_count_BEFORE))
print("Records in dim_census_location AFTER: "+str(dim_cen_count_AFTER))

Records in dim_census_location BEFORE: 10406068
Records in dim_census_location AFTER: 10406068

# Facts GDP

In [29]:
#Create facts
facts_gdp = gdp_df

#Fix names
facts_gdp = df_to_snake_case(facts_gdp)
facts_gdp.rename(columns={'geo_f_i_p_s':'geofips'}, inplace=True)

#Drop unnecessary columns
facts_gdp.drop('industry_classification',axis=1,inplace=True)

Transforming Pandas DataFrame...
Completed transforming Pandas DataFrame.

In [31]:
# Convert columns 2017-2022 to float
columns_to_convert = ['2017', '2018', '2019', '2020', '2021', '2022']

# Convert columns to float while replacing invalid entries with NaN
facts_gdp[columns_to_convert] = facts_gdp[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [32]:
#Show
facts_gdp

,geofips,geo_name,region,table_name,line_code,description,unit,2017,2018,2019,2020,2021,2022
0,1000,Alabama,5.0,CAGDP1,1,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,2.166155e+08,2.208088e+08,2.249446e+08,2.220814e+08,2.318926e+08,2.358073e+08
1,1000,Alabama,5.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,1.000000e+02,1.019360e+02,1.038450e+02,1.025230e+02,1.070530e+02,1.088600e+02
2,1000,Alabama,5.0,CAGDP1,3,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,2.166155e+08,2.262638e+08,2.345264e+08,2.351183e+08,2.579865e+08,2.815690e+08
3,1001,"Autauga, AL",5.0,CAGDP1,1,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,1.762558e+06,1.787534e+06,1.730861e+06,1.722438e+06,1.727818e+06,1.929264e+06
4,1001,"Autauga, AL",5.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,1.000000e+02,1.014170e+02,9.820200e+01,9.772400e+01,9.802900e+01,1.094580e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9526,97000,Rocky Mountain,7.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,1.000000e+02,1.045590e+02,1.095520e+02,1.093290e+02,1.166610e+02,1.193240e+02
9527,97000,Rocky Mountain,7.0,CAGDP1,3,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,6.813101e+08,7.305677e+08,7.762811e+08,7.812724e+08,8.801425e+08,9.746826e+08
9528,98000,Far West,8.0,CAGDP1,1,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,3.797440e+09,3.956948e+09,4.108526e+09,4.048650e+09,4.342903e+09,4.385658e+09
9529,98000,Far West,8.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,1.000000e+02,1.042000e+02,1.081920e+02,1.066150e+02,1.143640e+02,1.154900e+02
9530,98000,Far West,8.0,CAGDP1,3,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,3.797440e+09,4.026579e+09,4.252235e+09,4.254017e+09,4.732878e+09,5.066774e+09

#### Now we will begin the process of connecting facts_gdp with dim_census_location

In [33]:
# Start by converting facts_gdp to a spark df so we can work on it better
facts_gdp_spark = spark.createDataFrame(facts_gdp)

In [34]:
#Next, we split the geo_name column so we can easily get the county name and state abbriviation
facts_gdp_spark = facts_gdp_spark.withColumn("county_name", split(col("geo_name"), ",")[0])
facts_gdp_spark = facts_gdp_spark.withColumn("state_abbreviation", trim(split(col("geo_name"), ",")[1]))
facts_gdp_spark.select("geo_name","county_name","state_abbreviation").orderBy(rand()).limit(10).show()

+------------+-----------+------------------+
|    geo_name|county_name|state_abbreviation|
+------------+-----------+------------------+
|   Clark, ID|      Clark|                ID|
|    Elko, NV|       Elko|                NV|
| Volusia, FL|    Volusia|                FL|
|   Adams, IN|      Adams|                IN|
| Loudoun, VA|    Loudoun|                VA|
|  Queens, NY|     Queens|                NY|
|Garfield, OK|   Garfield|                OK|
|    Ware, GA|       Ware|                GA|
|      Hawaii|     Hawaii|              NULL|
|    Boyd, KY|       Boyd|                KY|
+------------+-----------+------------------+

In [35]:
# quickly get the count of rows before we set the df to the joined df. This is for debugging purposes
facts_gpd_spark_before_count = facts_gdp_spark.count()

In [36]:
# Clean the state abbreviations (e.g., removing any "*" characters)
df1_cleaned = facts_gdp_spark.withColumn("state_abbreviation", regexp_replace("state_abbreviation", r"\*", ""))
df2_cleaned = dim_census_location.withColumn("project_state", regexp_replace("project_state", r"\*", ""))

# Make join condition (which is also case insensitive)
join_condition = (lower(col("df1.county_name")) == lower(col("df2.project_county_name"))) & \
                 (lower(col("df1.state_abbreviation")) == lower(col("df2.project_state")))

# Perform the join
joined_df = df1_cleaned.alias("df1").join(df2_cleaned.alias("df2"), on=join_condition, how="left")

# Show the result
joined_df.select("county_name","state_abbreviation","project_county_name",
                 "project_state","project_zip","cd", "census_location_id").orderBy(rand()).limit(10).show()

+-----------+------------------+-------------------+-------------+-----------+-----+------------------+
|county_name|state_abbreviation|project_county_name|project_state|project_zip|   cd|census_location_id|
+-----------+------------------+-------------------+-------------+-----------+-----+------------------+
|      Anoka|                MN|              ANOKA|           MN| 55448-1160|MN-03|           1790754|
|    Volusia|                FL|            VOLUSIA|           FL| 32119-2827|FL-06|           8731570|
|     Marion|                IN|             MARION|           IN| 46226-0001|IN-07|           3735839|
|       Knox|                TN|               KNOX|           TN| 37932-1000|TN-02|           2146209|
|  Craighead|                AR|          CRAIGHEAD|           AR| 72417-0564|AR-01|           4343237|
|     Benton|                IA|             BENTON|           IA| 52315-4702|IA-02|           2983080|
|    Lubbock|                TX|            LUBBOCK|           TX| 79424-6698|TX-19|           3950389|
|  Middlesex|                MA|          MIDDLESEX|           MA| 01801-7242|MA-05|            126688|
|       Will|                IL|               WILL|           IL| 60448-9345|IL-01|           8560578|
|     Benton|                IA|             BENTON|           IA| 52213-9266|IA-02|           2948176|
+-----------+------------------+-------------------+-------------+-----------+-----+------------------+

In [37]:
# Set facts_gdp_spark to new joined_df, then delete joined df
facts_gdp_spark = joined_df
del joined_df

In [38]:
# Finally, we drop columns thats not needed
facts_gdp_spark.columns
facts_gdp_spark = facts_gdp_spark.drop("county_name","state_abbreviation", "project_county_name",
                                      "project_state", "project_zip","cd")

In [39]:
# See how much we changed facts_gpd
facts_gpd_spark_after_count = facts_gdp_spark.count()
facts_gpd_pandas_count =len(facts_gdp)
dim_census_location_count = dim_census_location.count()

print("Fact_GPD_SPARK_BEFORE: "+str(facts_gpd_spark_before_count))
print("Fact_GPD_SPARK_AFTER: "+str(facts_gpd_spark_after_count))
print("Fact_GPD_PANDAS: "+str(facts_gpd_pandas_count))
print("DIM_Census_Location: "+str(dim_census_location_count))

Fact_GPD_SPARK_BEFORE: 9531
Fact_GPD_SPARK_AFTER: 29915703
Fact_GPD_PANDAS: 9531
DIM_Census_Location: 10406068

In [40]:
# Check how much of facts_gdp is null after join
!pip install handyspark
import numpy as np
np.bool = np.bool_
from handyspark import *
hsdf = HandyFrame(facts_gdp_spark)
hsdf.isnull()

Collecting handyspark
  Downloading handyspark-0.2.2a1-py2.py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: pyspark in /usr/lib/spark/python (from handyspark) (3.5.1)
Requirement already satisfied: matplotlib in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (3.8.4)
Requirement already satisfied: numpy in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (1.26.4)
Requirement already satisfied: scipy in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (1.11.4)
Requirement already satisfied: seaborn in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (0.13.2)
Requirement already satisfied: pandas in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (2.1.4)
Requirement already satisfied: scikit-learn in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (1.3.2)
Collecting findspark (from handyspark)
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Requirement already satisfied: pyarrow in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (14.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (23.1)
Requirement already satisfied: pillow>=8 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pandas->handyspark) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pandas->handyspark) (2024.2)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pyspark->handyspark) (0.10.9.7)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from scikit-learn->handyspark) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from scikit-learn->handyspark) (3.5.0)
Requirement already satisfied: six>=1.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib->handyspark) (1.16.0)
Downloading handyspark-0.2.2a1-py2.py3-none-any.whl (39 kB)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark, handyspark
Successfully installed findspark-2.0.1 handyspark-0.2.2a1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

/usr/lib/spark/python/pyspark/sql/dataframe.py:168: UserWarning: DataFrame.sql_ctx is an internal property, and will be removed in future releases. Use DataFrame.sparkSession instead.
  warnings.warn(
/usr/lib/spark/python/pyspark/sql/dataframe.py:147: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

geofips                 0
geo_name                0
region                  0
table_name              0
line_code               0
description             0
unit                    0
2017                    0
2018                    0
2019                    0
2020                    0
2021                    0
2022                    0
project_city          513
census_location_id    513
Name: missing, dtype: int64

In [41]:
# Add unique ID
facts_gdp_spark = facts_gdp_spark.withColumn("facts_gdp_id", monotonically_increasing_id()+1)

# Add to tables
tables.append([facts_gdp_spark,"facts_gdp"])

# Facts PPP Loans

In [42]:
# Small function to convert date columns to date_id to connect to dim_date table.
def date_to_id(df, column_name):
    df = df.withColumn(column_name+"_id", date_format(column_name, "yyyyMMdd").cast("int"))
    df = df.drop(column_name)
    return df


# Create facts
facts_PPP_loans = ppp_df.select("SBAGuarantyPercentage","InitialApprovalAmount","CurrentApprovalAmount",
                               "UndisbursedAmount","ForgivenessAmount","LoanNumber","LoanStatus","Term",
                               "RuralUrbanIndicator","HubzoneIndicator","LMIIndicator","JobsReported",
                                "date_approved", "loan_status_date","forgiveness_date",
                               "SBAOfficeCode","ServicingLenderLocationID","OriginatingLenderLocationID",
                               "ProcessingMethod","NAICSCode")

# Convert date cols to date_ids so we can connect it to the dim date if needed
facts_PPP_loans = date_to_id(facts_PPP_loans,"date_approved")
facts_PPP_loans = date_to_id(facts_PPP_loans,"loan_status_date")
facts_PPP_loans = date_to_id(facts_PPP_loans,"forgiveness_date")


# Fix names
facts_PPP_loans = df_to_snake_case(facts_PPP_loans)
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("s_b_a_office_code","sba_office_code")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("s_b_a_guaranty_percentage","sba_guaranty_percentage")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("servicing_lender_location_i_d","servicing_lender_location_id")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("originating_lender_location_i_d","originating_lender_location_id")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("l_m_i_indicator","lmi_indicator")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("n_a_i_c_s_code","NAICS_code")


# Add foreign IDs
facts_PPP_loans = facts_PPP_loans.withColumn("borrower_id", col("loan_number")) 

# Adding the industry_id as a foreign key.
#- 1st, join facts dataframe with dim_industry on the naics code
facts_PPP_loans = facts_PPP_loans.join(spark.createDataFrame(dim_industry), 
                                       on="NAICS_code", how="inner")
#- 2nd, drop all columns from dim_industry beside the industry id
facts_PPP_loans = facts_PPP_loans.drop("NAICS_code","industry_type","industry_name")

#- 3rd, rename industry_id to NAICS_code_industry_id
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("industry_id","NAICS_code_industry_id")

# Add unique IDs
facts_PPP_loans = facts_PPP_loans.withColumn("fact_ppp_id", monotonically_increasing_id()+1)

# Add to tables
tables.append([facts_PPP_loans,"facts_PPP_loans"])

# Show
facts_PPP_loans.columns

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.

['sba_guaranty_percentage',
 'initial_approval_amount',
 'current_approval_amount',
 'undisbursed_amount',
 'forgiveness_amount',
 'loan_number',
 'loan_status',
 'term',
 'rural_urban_indicator',
 'hubzone_indicator',
 'lmi_indicator',
 'jobs_reported',
 'sba_office_code',
 'servicing_lender_location_id',
 'originating_lender_location_id',
 'processing_method',
 'date_approved_id',
 'loan_status_date_id',
 'forgiveness_date_id',
 'borrower_id',
 'NAICS_code_industry_id',
 'fact_ppp_id']

# Functions for saving

Note: All functions assume we have global variable "bucket" that contains the name of the bucket we are working with

In [43]:
def check_folder_exists(folder_name):
    
    # Grab the bucket
    client = storage.Client()
    bucket_ = client.get_bucket(bucket)
    
    # List objects in the bucket with the folder prefix
    blobs = bucket_.list_blobs(prefix=folder_name + '/')
    
    # Check if any blob exists under this folder
    for blob in blobs:
        if blob.name.startswith(folder_name + '/'):
            print(f"Folder '{folder_name}' exists in bucket '{bucket}'.")
            return True
    
    print(f"Folder '{folder_name}' does not exist in bucket '{bucket}'.")
    return False

In [44]:
def create_folder(path, name):
    
    if check_folder_exists(name): 
        print(path+name+'/'+' already exists. Abandoning folder creation')
        return
    
    # Initialize the GCS client
    client = storage.Client()

    # Get the bucket
    _bucket = client.get_bucket(bucket)

    # Define the folder path
    folder_path = path+name+'/'

    # Create a dummy file in the folder (this will simulate the folder in GCS)
    # The 'blob' will not be a real file, but will create the "folder"
    blob = _bucket.blob(folder_path + 'placeholder.txt')  # You can name it anything, like 'placeholder.txt'

    # Upload an empty string or any content to simulate the folder creation
    blob.upload_from_string('')

    print(f"Folder '{folder_path}' created successfully in the bucket '{bucket}'")

In [45]:
def delete_files_named(name_of_file_to_delete):
    # Initialize a client
    client = storage.Client()

    # Specify the bucket name
    _bucket = client.bucket(bucket)

    # List and delete all files named "placeholder.txt"
    blobs = _bucket.list_blobs()

    count_deleted = 0
    for blob in blobs:
        if blob.name.endswith(name_of_file_to_delete):
            blob.delete()
            print(f"Deleted: {blob.name}")
            count_deleted += 1
            
    
    print(f"Deletion of all '{name_of_file_to_delete}' files is complete. Total deleted: "+str(count_deleted))

In [46]:
def save_df(df,name,save_as="parquet",gcs_path=None):

    #we must define the bucket variable at the start of the script, before calling this function.
    
    # Define the GCS path for saving the file
    if gcs_path == None:
        gcs_path = 'gs://'+bucket+'/dim_ready/'+name+'/'+name+'.'+save_as
    
    
    
    print(f"Creating '{name}' folder...")
    create_folder('dim_ready/',name)
    delete_files_named("placeholder.txt")
    
    print("Beginning saving process...")
    flag = 0 # this var will let us know is there as been an error
    
    #Saves Pandas dataframe
    if isinstance(df, pd.DataFrame):
        # Initialize GCS file system
        fs = gcsfs.GCSFileSystem(project='cis4400-group-project')

        # Save DataFrame to the "cleaned" folder in the GCS bucket
        with fs.open(gcs_path, 'w') as f:
            if save_as == "csv":
                df.to_csv(f, index=False)
            else:
                print("INVALD FILE FORMAT. TRY [csv]")
                flag+=1
        
        if flag == 0:
            print("Successfully saved "+name+ "!")
    
    #Saves PySpark dataframe
    elif isinstance(df, PySparkDataFrame):
        if save_as == "parquet":
            df.write.parquet(gcs_path,mode="overwrite")
        elif save_as == "csv":
            df.write.csv(gcs_path,mode="overwrite")
        elif save_as == "avro":
            df.write.format("avro").save(gcs_path,mode="overwrite")
        else:
            print("INVALD FILE FORMAT. TRY [csv] or [parquet] or [avro]")
            flag+=1
        
        if flag == 0:
            print("Successfully saved "+name+ "!")
        
    #No valid dataframe found
    else:
        print("ERROR: INVALID DATAFRAME - NO PROCEDURE APPLIED")

In [47]:
#this function accepts a list of tables, that each contain 2 elements, the table itself, and the name of the table.
#Example, table[0] = [df_1,"df_1_name"], table[1][0] = df_2, table[3][1] = "df_4_name"
def save_list_of_df(list_of_tables,pandas_save="csv",pyspark_save="parquet"):
    for table in list_of_tables:
        if isinstance(table[0], pd.DataFrame):
            save_df(table[0],table[1],save_as=pandas_save)
        elif isinstance(table[0], PySparkDataFrame):
            save_df(table[0],table[1],save_as=pyspark_save)

# Saving Dims and Facts

In [48]:
#We will simply save all Pandas dataframes as CSV's and all PySpark ones as parquet

ENABLE_SAVE = True #boolean to quickly turn on/off saving. Good to turn off saving when debugging.

if ENABLE_SAVE:
    save_list_of_df(tables)

Creating 'dim_borrower' folder...
Folder 'dim_borrower' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_borrower/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_borrower/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...

Successfully saved dim_borrower!
Creating 'dim_SBA_office' folder...
Folder 'dim_SBA_office' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_SBA_office/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_SBA_office/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...
Successfully saved dim_SBA_office!
Creating 'dim_processing_method' folder...
Folder 'dim_processing_method' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_processing_method/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_processing_method/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...
Successfully saved dim_processing_method!
Creating 'dim_originating_lender' folder...
Folder 'dim_originating_lender' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_originating_lender/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_originating_lender/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...

Successfully saved dim_originating_lender!
Creating 'dim_servicing_lender' folder...
Folder 'dim_servicing_lender' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_servicing_lender/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_servicing_lender/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...

Successfully saved dim_servicing_lender!
Creating 'dim_date' folder...
Folder 'dim_date' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_date/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_date/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...
Successfully saved dim_date!
Creating 'dim_industry' folder...
Folder 'dim_industry' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_industry/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_industry/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...
Successfully saved dim_industry!
Creating 'dim_census_location' folder...
Folder 'dim_census_location' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/dim_census_location/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/dim_census_location/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...

Successfully saved dim_census_location!
Creating 'facts_gdp' folder...
Folder 'facts_gdp' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/facts_gdp/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/facts_gdp/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...

Successfully saved facts_gdp!
Creating 'facts_PPP_loans' folder...
Folder 'facts_PPP_loans' does not exist in bucket 'ppp-loans-bucket'.
Folder 'dim_ready/facts_PPP_loans/' created successfully in the bucket 'ppp-loans-bucket'
Deleted: dim_ready/facts_PPP_loans/placeholder.txt
Deletion of all 'placeholder.txt' files is complete. Total deleted: 1
Beginning saving process...

Successfully saved facts_PPP_loans!

In [49]:
# ISSUES

# There are null values in industry type when joining it on NAICS code. That is because the naics code wasnt found
# inside the dim_industry table. So no value was able to come of it. 


# DIFFERENCES BETWEEN THIS AND CURRENT DIM MODEL

# PPP Fact Table currently has "term" and "term_date_id" in the model. However...
# Script wise, I did not include term_date_id, and left term as is since it doesnt correspond to a date.