In [1]:
spark

# Initial Setup (Install and import necessary packages)

In [2]:
!pip install gcsfs
!pip install openpyxl

Requirement already satisfied: gcsfs in /opt/conda/miniconda3/lib/python3.11/site-packages (2023.12.2.post1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (3.10.10)
Requirement already satisfied: decorator>4.1.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (5.1.1)
Requirement already satisfied: fsspec==2023.12.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2023.12.2)
Requirement already satisfied: google-auth>=1.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2.35.0)
Requirement already satisfied: google-auth-oauthlib in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (1.1.0)
Requirement already satisfied: google-cloud-storage in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2.13.0)
Requirement already satisfied: requests in /opt/conda/miniconda3/lib/python3.11/site-packages (from gcsfs) (2.31.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-auth-oauthlib->gcsfs) (2.0.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.21.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.6.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.7.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (1.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests->gcsfs) (2024.8.30)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.65.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (4.24.4)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.25.0)
Requirement already satisfied: cffi>=1.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from google-crc32c<2.0dev,>=1.0->google-cloud-storage->gcsfs) (1.16.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)
Requirement already satisfied: propcache>=0.2.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from yarl<2.0,>=1.12.0->aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (0.2.0)
Requirement already satisfied: pycparser in /opt/conda/miniconda3/lib/python3.11/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-cloud-storage->gcsfs) (2.21)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: openpyxl in /opt/conda/miniconda3/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/conda/miniconda3/lib/python3.11/site-packages (from openpyxl) (2.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
import pandas as pd
import gcsfs
import calendar
from google.cloud import storage
from google.cloud.exceptions import NotFound
from pyspark.sql.functions import col, lower, instr, date_format, split, rand
from pyspark.sql.functions import monotonically_increasing_id # virtually the same as factorize() from pandas.

In [4]:
# Define the bucket we will save to. Many areas will reference this variable later
bucket = "ppp-loans-bucket"

# Read clean data into appropriate dataframes

In [5]:
ppp_df = spark.read.parquet("gs://ppp-loans-bucket/cleaned/part-*").sample(fraction=0.001,seed=42)

In [6]:
ppp_df.count()

10549

In [7]:
fs = gcsfs.GCSFileSystem(project='cis4400-group-project')
with fs.open("ppp-loans-bucket/cleaned/GDP.csv") as f:
    gdp_df = pd.read_csv(f)
gdp_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2017,2018,2019,2020,2021,2022
0,1000,Alabama,5.0,CAGDP1,1,...,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,216615470,220808767,224944577,222081439,231892626,235807320
1,1000,Alabama,5.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,101.936,103.845,102.523,107.053,108.86
2,1000,Alabama,5.0,CAGDP1,3,...,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,216615470,226263784,234526408,235118280,257986516,281569005
3,1001,"Autauga, AL",5.0,CAGDP1,1,...,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,1762558,1787534,1730861,1722438,1727818,1929264
4,1001,"Autauga, AL",5.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,101.417,98.202,97.724,98.029,109.458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9526,97000,Rocky Mountain,7.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,104.559,109.552,109.329,116.661,119.324
9527,97000,Rocky Mountain,7.0,CAGDP1,3,...,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,681310123,730567674,776281078,781272363,880142487,974682556
9528,98000,Far West,8.0,CAGDP1,1,...,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,3797440495,3956948041,4108525822,4048649569,4342903004,4385657757
9529,98000,Far West,8.0,CAGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,100,104.2,108.192,106.615,114.364,115.49
9530,98000,Far West,8.0,CAGDP1,3,...,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,3797440495,4026578971,4252235190,4254017130,4732878464,5066773749

In [8]:
fs = gcsfs.GCSFileSystem(project='cis4400-group-project')
with fs.open('ppp-loans-bucket/cleaned/NAICS.csv') as f:
    naics_df = pd.read_csv(f)
naics_df

,2022 NAICS US Code,2022 NAICS US Title,industry_type
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...
2120,9281,National Security and International Affairs,Public Administration
2121,92811,National Security,Public Administration
2122,928110,National Security,Public Administration
2123,92812,International Affairs,Public Administration
2124,928120,International Affairs,Public Administration

# Checking columns

In [9]:
ppp_df.columns

['LoanNumber',
 'DateApproved',
 'SBAOfficeCode',
 'ProcessingMethod',
 'BorrowerName',
 'BorrowerAddress',
 'BorrowerCity',
 'BorrowerState',
 'BorrowerZip',
 'LoanStatusDate',
 'LoanStatus',
 'Term',
 'SBAGuarantyPercentage',
 'InitialApprovalAmount',
 'CurrentApprovalAmount',
 'UndisbursedAmount',
 'FranchiseName',
 'ServicingLenderLocationID',
 'ServicingLenderName',
 'ServicingLenderAddress',
 'ServicingLenderCity',
 'ServicingLenderState',
 'ServicingLenderZip',
 'RuralUrbanIndicator',
 'HubzoneIndicator',
 'LMIIndicator',
 'BusinessAgeDescription',
 'ProjectCity',
 'ProjectCountyName',
 'ProjectState',
 'ProjectZip',
 'CD',
 'JobsReported',
 'NAICSCode',
 'Race',
 'Ethnicity',
 'PAYROLL_PROCEED',
 'BusinessType',
 'OriginatingLenderLocationID',
 'OriginatingLender',
 'OriginatingLenderCity',
 'OriginatingLenderState',
 'Gender',
 'Veteran',
 'NonProfit',
 'ForgivenessAmount',
 'ForgivenessDate',
 'forgiveness_date',
 'date_approved',
 'loan_status_date']

In [10]:
gdp_df.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '2017', '2018', '2019',
       '2020', '2021', '2022'],
      dtype='object')

In [11]:
naics_df.columns

Index(['2022 NAICS US Code', '2022 NAICS US Title', 'industry_type'], dtype='object')

# Function to turn column names to snake_case

In [12]:
#Turns any columns that has TheseColumnsNames to these_column_names
import re
from pyspark.sql import DataFrame as PySparkDataFrame
def name_to_snake_case(name):
    # Add underscores before capital letters, then convert to lowercase
    return re.sub(r'(?<!^)(?=[A-Z])', '_', name).lower()

#Takes in any type of dataframe and turns its columns into snake_case
def df_to_snake_case(df):
    
    #Transforms PySpark dataframe
    if isinstance(df, PySparkDataFrame):
        print("Transforming PySpark DataFrame...")
        # Rename all columns to snake_case
        snake_case_columns = [name_to_snake_case(col) for col in df.columns]
        df_snake_case = df.toDF(*snake_case_columns)
        print("Completed transforming PySpark DataFrame.")
        return df_snake_case
    
    #Transforms Pandas dataframe
    elif isinstance(df, pd.DataFrame):
        print("Transforming Pandas DataFrame...")
        # Rename all columns to snake_case
        df.columns = [name_to_snake_case(col) for col in df.columns]
        print("Completed transforming Pandas DataFrame.")
        return df
    
    #No valid dataframe found
    else:
        print("ERROR: INVALID DATAFRAME - NO PROCEDURE APPLIED")

In [13]:
# initialize array. Append all dims and tables here. At the end, we loop through this list to save all dataframes.
tables = []

In [14]:
# Function to check how unique a column is. This will be used to verify all ID's in an ID column are unique.
def check_uniqueness(df, col_name):
    if isinstance(df, PySparkDataFrame):
        total_count = df.count()
        distinct_count = df.select(col_name).distinct().count()
    elif isinstance(df, pd.DataFrame):
        total_count = len(df)
        distinct_count = df[col_name].nunique()

    if total_count == distinct_count:
        print(f"The column '{col_name}' contains all unique values.")
    else:
        print(f"The column '{col_name}' contains duplicates. Total rows: {total_count}, Distinct rows: {distinct_count}")

# Dim Borrower

In [15]:
#Create Dim
dim_borrower = ppp_df.select("LoanNumber","BorrowerName","BorrowerAddress",
                            "BorrowerCity","BorrowerState","BorrowerZip",
                            "FranchiseName","BusinessAgeDescription",
                            "Race","Ethnicity","BusinessType","Gender",
                            "Veteran","NonProfit")

#Fix Names
dim_borrower = dim_borrower.withColumnRenamed("LoanNumber","borrower_id")
dim_borrower = df_to_snake_case(dim_borrower)

#Add to tables
tables.append([dim_borrower,"dim_borrower"])

#Show
dim_borrower.show()
dim_borrower.columns

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.

+-----------+--------------------+--------------------+---------------+--------------+------------+--------------------+------------------------+----------+--------------------+--------------------+------------+-----------+----------+
|borrower_id|       borrower_name|    borrower_address|  borrower_city|borrower_state|borrower_zip|      franchise_name|business_age_description|      race|           ethnicity|       business_type|      gender|    veteran|non_profit|
+-----------+--------------------+--------------------+---------------+--------------+------------+--------------------+------------------------+----------+--------------------+--------------------+------------+-----------+----------+
| 1966387202|ORTHOSPORT HAWAII...|   5216 -A Hao Place|       Honolulu|            HI|  96821-1653|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Limited  Liabilit...|  Unanswered| Unanswered|      NULL|
| 3441317101|   KAMAKA HAWAII INC|        550 SOUTH ST|       HONOLULU|            HI|  96813-5010|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 1148068510|PACIFIC IN VITRO ...|1319 Punahou St S...|       Honolulu|            HI|  96826-1079|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Limited  Liabilit...|  Male Owned| Unanswered|      NULL|
| 2204137206|MAUI CUSTOM WOODW...|     251 LALO ST L-1|        KAHULUI|            HI|  96732-2926|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Subchapter S Corp...|  Unanswered| Unanswered|      NULL|
| 5610887000|WOERNER SPORTS TU...|       894094 PO Box|       Mililani|            HI|  96789-8094|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Limited  Liabilit...|  Male Owned|Non-Veteran|      NULL|
| 8212648406|            WAVE INC|2155 Kalakaua Ave...|       Honolulu|            HI|  96815-2354|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 5373198410|HAWAII HEALTH EMP...|HAWAII HEALTH EMP...|    PRINCEVILLE|            HI|       96722|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 5574727109|IOWA WESLEYAN UNI...|       601 N Main St| MOUNT PLEASANT|            IA|  52641-1348|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Non-Profit Organi...|  Unanswered| Unanswered|         Y|
| 7885278304|MID IOWA REFRIGER...|   2900 Delaware Ave|     Des Moines|            IA|  50317-3545|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Subchapter S Corp...|  Unanswered| Unanswered|      NULL|
| 1656788401|     S & J TUBE INC.|        929 100th St|        Wapello|            IA|  52653-7600|                NULL|    Existing or more ...|Unanswered|Not Hispanic or L...|         Corporation|Female Owned|Non-Veteran|      NULL|
| 5744898310|   SAINT MARY CHURCH|        300 E 3rd St|     Storm Lake|            IA|  50588-2459|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|Professional Asso...|  Unanswered| Unanswered|      NULL|
| 5174817004|CPI TELECOMMUNICA...|       6949 Vista DR|WEST DES MOINES|            IA|  50266-9309|                NULL|    Existing or more ...|Unanswered|Not Hispanic or L...|Subchapter S Corp...|  Male Owned|Non-Veteran|      NULL|
| 7778667007|FUERSTE, CAREW, J...|     890 MAIN STREET|        DUBUQUE|            IA|  52001-6822|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 7088078409|AMPRIDE TRAVEL CE...|    506 Highway 59 N|        Denison|            IA|  51442-2716|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Male Owned|Non-Veteran|      NULL|
| 4759637010|T & A TRUCK WASH ...|2501 BOULEVARD OF...|     SIOUX CITY|            IA|  51111-1131|                NULL|    Existing or more ...|     White|Not Hispanic or L...|Limited  Liabilit...|  Male Owned|Non-Veteran|      NULL|
| 5973237003|MEYERS MANAGEMENT...|   109 N Ankeny Blvd|         ANKENY|            IA|  50023-1708|                NULL|    Existing or more ...|Unanswered|Not Hispanic or L...|         Corporation|  Male Owned|Non-Veteran|      NULL|
| 5997358310|RECKER DENTAL CAR...|  2114 Washington St|          Pella|            IA|  50219-7880|                NULL|    Existing or more ...|Unanswered|Not Hispanic or L...|Subchapter S Corp...|  Male Owned| Unanswered|      NULL|
| 8616197010|H & H BUILDERS, INC.|        317 E 1ST ST|       KINGSLEY|            IA|  51028-7741|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 4971128406|      BEST AUTO INC.|     900 S Grand Ave|        Spencer|            IA|  51301-5716|                NULL|    Existing or more ...|Unanswered|   Unknown/NotStated|         Corporation|  Unanswered| Unanswered|      NULL|
| 4813927005|SHARE YOUR HEART,...| 4540 Ashworth Court|     Bettendorf|            IA|  52806-9314|Rainbow Internati...|    New Business or 2...|Unanswered|Not Hispanic or L...|Limited  Liabilit...|  Male Owned|Non-Veteran|      NULL|
+-----------+--------------------+--------------------+---------------+--------------+------------+--------------------+------------------------+----------+--------------------+--------------------+------------+-----------+----------+
only showing top 20 rows

['borrower_id',
 'borrower_name',
 'borrower_address',
 'borrower_city',
 'borrower_state',
 'borrower_zip',
 'franchise_name',
 'business_age_description',
 'race',
 'ethnicity',
 'business_type',
 'gender',
 'veteran',
 'non_profit']

# Dim SBA office

In [16]:
#Create Dim
dim_SBA_office = ppp_df.select("SBAOfficeCode").distinct().toPandas()

#Fix Names
dim_SBA_office = df_to_snake_case(dim_SBA_office)
dim_SBA_office.rename(columns={'s_b_a_office_code':'SBA_office_code'}, inplace=True)

#Add to tables
tables.append([dim_SBA_office,"dim_SBA_office"])

#Show
dim_SBA_office

Transforming Pandas DataFrame...
Completed transforming Pandas DataFrame.

    SBA_office_code
0               876
1               474
2               678
3               639
4              1013
..              ...
70              766
71              459
72              669
73              885
74             1084

[75 rows x 1 columns]

# Dim Processing Method

In [17]:
#Create Dim
dim_processing_method = ppp_df.select("ProcessingMethod").distinct().toPandas()

#Fix Names
dim_processing_method = df_to_snake_case(dim_processing_method)

#Add to tables
tables.append([dim_processing_method,"dim_processing_method"])

#Show
dim_processing_method

Transforming Pandas DataFrame...
Completed transforming Pandas DataFrame.

  processing_method
0               PPP
1               PPS

# Dim Originating Lender

In [18]:
#Create Dim
dim_originating_lender = ppp_df.select("OriginatingLenderLocationID",
                                      "OriginatingLender","OriginatingLenderCity",
                                      "OriginatingLenderState")

#Fix Names
dim_originating_lender = df_to_snake_case(dim_originating_lender)
dim_originating_lender = dim_originating_lender.withColumnRenamed("originating_lender_location_i_d","originating_lender_location_id")

#Add to tables
tables.append([dim_originating_lender,"dim_originating_lender"])

#Show
dim_originating_lender.show()

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.
+------------------------------+--------------------+-----------------------+------------------------+
|originating_lender_location_id|  originating_lender|originating_lender_city|originating_lender_state|
+------------------------------+--------------------+-----------------------+------------------------+
|                         20088| First Hawaiian Bank|               HONOLULU|                      HI|
|                         20088| First Hawaiian Bank|               HONOLULU|                      HI|
|                         19948|      Bank of Hawaii|               HONOLULU|                      HI|
|                         19990|Central Pacific Bank|               HONOLULU|                      HI|
|                         19990|Central Pacific Bank|               HONOLULU|                      HI|
|                         20088| First Hawaiian Bank|               HONOLULU|                      HI|
|                         19948|      Bank of Hawaii|               HONOLULU|                      HI|
|                        434140|Two Rivers Bank &...|             BURLINGTON|                      IA|
|                         66716|First Interstate ...|            Sioux Falls|                      SD|
|                         25274|                BANK|                WAPELLO|                      IA|
|                         25506|        Central Bank|             STORM LAKE|                      IA|
|                         24768|           Bank Iowa|        WEST DES MOINES|                      IA|
|                         24930|Dubuque Bank and ...|                Dubuque|                      IA|
|                         21023|         Byline Bank|                CHICAGO|                      IL|
|                         25182|           Primebank|                LE MARS|                      IA|
|                         82664|      Northwest Bank|                SPENCER|                      IA|
|                         25371|Marion County Sta...|                  PELLA|                      IA|
|                         25108| United Bank of Iowa|              IDA GROVE|                      IA|
|                         25490|Farmers Trust and...|                Spencer|                      IA|
|                         21908|First Mid Bank & ...|                MATTOON|                      IL|
+------------------------------+--------------------+-----------------------+------------------------+
only showing top 20 rows

# Dim Servicing Lender

In [19]:
#Create Dim
dim_servicing_lender = ppp_df.select('ServicingLenderLocationID', 'ServicingLenderName',
                                     'ServicingLenderAddress', 'ServicingLenderCity', 
                                     'ServicingLenderState','ServicingLenderZip')

#Fix Names
dim_servicing_lender = df_to_snake_case(dim_servicing_lender)

#Add to tables
tables.append([dim_servicing_lender,"dim_servicing_lender"])

#Show
dim_servicing_lender.show()

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.
+-----------------------------+---------------------+------------------------+---------------------+----------------------+--------------------+
|servicing_lender_location_i_d|servicing_lender_name|servicing_lender_address|servicing_lender_city|servicing_lender_state|servicing_lender_zip|
+-----------------------------+---------------------+------------------------+---------------------+----------------------+--------------------+
|                        20088|  First Hawaiian Bank|           999 Bishop St|             HONOLULU|                    HI|          96813-4423|
|                        20088|  First Hawaiian Bank|           999 Bishop St|             HONOLULU|                    HI|          96813-4423|
|                        19948|       Bank of Hawaii|              111 S King|             HONOLULU|                    HI|          96813-3501|
|                        19990| Central Pacific Bank|           220 S King St|             HONOLULU|                    HI|          96813-4530|
|                        19990| Central Pacific Bank|           220 S King St|             HONOLULU|                    HI|          96813-4530|
|                        20088|  First Hawaiian Bank|           999 Bishop St|             HONOLULU|                    HI|          96813-4423|
|                        19948|       Bank of Hawaii|              111 S King|             HONOLULU|                    HI|          96813-3501|
|                       434140| Two Rivers Bank &...|           222 N Main St|           BURLINGTON|                    IA|          52601-5214|
|                        41844| First Interstate ...|           401 N 31st St|             BILLINGS|                    MT|          59101-1200|
|                        25274|                 BANK|            409 Hwy 61 S|              WAPELLO|                    IA|          52653-1360|
|                        25506|         Central Bank|            600 Lake Ave|           STORM LAKE|                    IA|          50588-1852|
|                        24768|            Bank Iowa|    1150 Jordan Creek...|      WEST DES MOINES|                    IA|          50266-5831|
|                       444645|            HTLF Bank|    1800 Larimer St, ...|               DENVER|                    CO|          80202-1404|
|                        21023|          Byline Bank|    180 N LaSalle St,...|              CHICAGO|                    IL|          60601-3110|
|                        25182|            Primebank|           37 1st Ave NW|              LE MARS|                    IA|          51031-3511|
|                        82664|       Northwest Bank|           705 Grand Ave|              SPENCER|                    IA|          51301-3707|
|                        25371| Marion County Sta...|             800 Main St|                PELLA|                    IA|          50219-1522|
|                        25108|  United Bank of Iowa|              501 2nd St|            IDA GROVE|                    IA|          51445-1304|
|                        25490| Farmers Trust and...|            125 W 4th St|              Spencer|                    IA|          51301-7980|
|                        21908| First Mid Bank & ...|    1515 Charleston Ave.|              MATTOON|                    IL|          61938-3932|
+-----------------------------+---------------------+------------------------+---------------------+----------------------+--------------------+
only showing top 20 rows

# Dim Date

In [20]:
def week_of_month(dt):
    year = dt.year
    month = dt.month
    day = dt.day
    
    cal = calendar.monthcalendar(year,month)
    week_number = (day - 1) // 7 + 1
    return week_number

    
#Create Dim
start_date = pd.to_datetime("2017-01-01")
end_date = pd.to_datetime("2022-12-31")

dim_date = pd.DataFrame({"date": pd.date_range(start_date, end_date, freq="D")})

dim_date['date_id'] = dim_date['date'].dt.strftime('%Y%m%d')
dim_date['year_number'] = dim_date['date'].dt.year
dim_date['month_number'] = dim_date['date'].dt.month
dim_date['day_number'] = dim_date['date'].dt.day
dim_date['week_number'] = dim_date['date'].dt.strftime('%V')
dim_date['week_of_month'] = dim_date['date'].apply(week_of_month)
dim_date['week_of_year'] = dim_date['date'].dt.strftime('%U')
dim_date['month_name'] = dim_date['date'].dt.strftime('%B')
dim_date['day_name'] = dim_date['date'].dt.strftime('%A')
dim_date['timestamp_isoformat'] = dim_date['date'].apply(lambda x: x.isoformat())

#Add to tables
tables.append([dim_date,"dim_date"])

#Show
#print(dim_date.shape)
#print(dim_date.info())
#print(dim_date.head())
dim_date.head()

,date,date_id,year_number,month_number,day_number,week_number,week_of_month,week_of_year,month_name,day_name,timestamp_isoformat
0,2017-01-01,20170101,2017,1,1,52,1,01,January,Sunday,2017-01-01T00:00:00
1,2017-01-02,20170102,2017,1,2,01,1,01,January,Monday,2017-01-02T00:00:00
2,2017-01-03,20170103,2017,1,3,01,1,01,January,Tuesday,2017-01-03T00:00:00
3,2017-01-04,20170104,2017,1,4,01,1,01,January,Wednesday,2017-01-04T00:00:00
4,2017-01-05,20170105,2017,1,5,01,1,01,January,Thursday,2017-01-05T00:00:00

# Dim Census Location

In [21]:
#Create Dim
dim_census_location = ppp_df.select('ProjectCity','ProjectCountyName', 
                                    'ProjectState', 'ProjectZip','CD')

#Fix Names
dim_census_location = dim_census_location.withColumnRenamed("CD","cd")
dim_census_location = df_to_snake_case(dim_census_location)

#Add unique ID
dim_census_location = dim_census_location.withColumn("census_location_id", monotonically_increasing_id()+1)

#Add to tables
tables.append([dim_census_location,"dim_census_location"])

#Show
dim_census_location.show()

#Count
print("Records in dim_census_location: "+str(dim_census_location.count()))

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.
+---------------+-------------------+-------------+-----------+-----+------------------+
|   project_city|project_county_name|project_state|project_zip|   cd|census_location_id|
+---------------+-------------------+-------------+-----------+-----+------------------+
|       Honolulu|           HONOLULU|           HI| 96821-1653|HI-01|                 1|
|       HONOLULU|           HONOLULU|           HI| 96813-5010|HI-01|                 2|
|       Honolulu|           HONOLULU|           HI| 96826-1079|HI-01|                 3|
|        KAHULUI|               MAUI|           HI| 96732-2926|HI-02|                 4|
|       Mililani|           HONOLULU|           HI| 96789-8094|HI-01|                 5|
|       Honolulu|           HONOLULU|           HI| 96815-2354|HI-01|                 6|
|    PRINCEVILLE|              KAUAI|           HI|      96722|HI-02|                 7|
| MOUNT PLEASANT|              HENRY|           IA| 52641-1348|IA-01|                 8|
|     Des Moines|               POLK|           IA| 50317-3545|IA-03|                 9|
|        Wapello|             LOUISA|           IA| 52653-7600|IA-01|                10|
|     Storm Lake|        BUENA VISTA|           IA| 50588-2459|IA-04|                11|
|WEST DES MOINES|             DALLAS|           IA| 50266-9309|IA-03|                12|
|        DUBUQUE|            DUBUQUE|           IA| 52001-6822|IA-02|                13|
|        Denison|           CRAWFORD|           IA| 51442-2716|IA-04|                14|
|     SIOUX CITY|           WOODBURY|           IA| 51111-1131|IA-04|                15|
|         ANKENY|               POLK|           IA| 50023-1708|IA-03|                16|
|          Pella|             MARION|           IA| 50219-7880|IA-01|                17|
|       KINGSLEY|           WOODBURY|           IA| 51028-7741|IA-04|                18|
|        Spencer|               CLAY|           IA| 51301-5716|IA-04|                19|
|      DAVENPORT|              SCOTT|           IA| 52806-9314|IA-01|                20|
+---------------+-------------------+-------------+-----------+-----+------------------+
only showing top 20 rows

Records in dim_census_location: 10549

# Dim Industry

In [22]:
naics_df

,2022 NAICS US Code,2022 NAICS US Title,industry_type
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting"
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting"
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting"
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting"
...,...,...,...
2120,9281,National Security and International Affairs,Public Administration
2121,92811,National Security,Public Administration
2122,928110,National Security,Public Administration
2123,92812,International Affairs,Public Administration
2124,928120,International Affairs,Public Administration

In [23]:
#Create Dim
dim_industry = pd.DataFrame()
dim_industry['NAICS_code'] = naics_df['2022 NAICS US Code']
dim_industry['industry_name'] = naics_df['2022 NAICS US Title']
dim_industry['industry_type'] = naics_df['industry_type']

#Add unique ID
dim_industry['industry_id'] = pd.factorize(dim_industry['NAICS_code'])[0] + 1

#Add to tables
tables.append([dim_industry,"dim_industry"])

#Show
dim_industry.head()

,NAICS_code,industry_name,industry_type,industry_id
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting",1
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting",2
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting",3
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",4
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",5

# Facts GDP

In [24]:
#Create facts
facts_gdp = gdp_df

#Fix names
facts_gdp = df_to_snake_case(facts_gdp)
facts_gdp.rename(columns={'geo_f_i_p_s':'geofips'}, inplace=True)

#Drop unnecessary columns
facts_gdp.drop('industry_classification',axis=1,inplace=True)

#Show
facts_gdp

Transforming Pandas DataFrame...
Completed transforming Pandas DataFrame.

,geofips,geo_name,region,table_name,line_code,description,unit,2017,2018,2019,2020,2021,2022
0,1000,Alabama,5.0,CAGDP1,1,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,216615470,220808767,224944577,222081439,231892626,235807320
1,1000,Alabama,5.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,100,101.936,103.845,102.523,107.053,108.86
2,1000,Alabama,5.0,CAGDP1,3,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,216615470,226263784,234526408,235118280,257986516,281569005
3,1001,"Autauga, AL",5.0,CAGDP1,1,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,1762558,1787534,1730861,1722438,1727818,1929264
4,1001,"Autauga, AL",5.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,100,101.417,98.202,97.724,98.029,109.458
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9526,97000,Rocky Mountain,7.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,100,104.559,109.552,109.329,116.661,119.324
9527,97000,Rocky Mountain,7.0,CAGDP1,3,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,681310123,730567674,776281078,781272363,880142487,974682556
9528,98000,Far West,8.0,CAGDP1,1,Real GDP (thousands of chained 2017 dollars),Thousands of chained 2017 dollars,3797440495,3956948041,4108525822,4048649569,4342903004,4385657757
9529,98000,Far West,8.0,CAGDP1,2,Chain-type quantity indexes for real GDP,Quantity index,100,104.2,108.192,106.615,114.364,115.49
9530,98000,Far West,8.0,CAGDP1,3,Current-dollar GDP (thousands of current dolla...,Thousands of dollars,3797440495,4026578971,4252235190,4254017130,4732878464,5066773749

In [25]:
#Temporary dataframe to create a connection between facts_gdp and dim_census_location
facts_gdp_spark = spark.createDataFrame(facts_gdp)


#Split the geo_name column so we can better join the two tables through county name.
facts_gdp_spark = facts_gdp_spark.withColumn("geo_name_split", split(col("geo_name"), ",")[0])

facts_gpd_spark_before_count = facts_gdp_spark.count()

#Join the tables through the county name. Left join since we dont want to get rid of any data in facts_gdp
facts_gdp_spark = facts_gdp_spark.join(dim_census_location, 
                                 lower(facts_gdp_spark.geo_name_split) == lower(dim_census_location.project_county_name),
                                "inner")

#Show come columns to confirm that the tables joined correctly (if geo_name is a county, match it and add the census id)
facts_gdp_spark.select("geo_name","project_county_name","census_location_id","2019").orderBy(rand()).limit(10).show()

+------------+-------------------+------------------+---------+
|    geo_name|project_county_name|census_location_id|     2019|
+------------+-------------------+------------------+---------+
|   Essex, MA|              ESSEX|       42949673826| 46020521|
|   Clark, IN|              CLARK|       68719476935|  101.697|
| Madison, MO|            MADISON|       25769804308|  107.159|
|   Union, IL|              UNION|       25769803992|   419360|
|    Knox, TX|               KNOX|       60129542251|   141465|
| Tarrant, TX|            TARRANT|       34359738904|118947910|
|   Lamar, AL|              LAMAR|       25769804509|   339487|
|San Juan, CO|           SAN JUAN|       17179870365|    36106|
|   Scott, IA|              SCOTT|       17179870009|  9591035|
|    Cass, ND|               CASS|       34359739026| 13905366|
+------------+-------------------+------------------+---------+

In [26]:
county_name = r"\bMARION\b"
facts_gdp_spark_2 = spark.createDataFrame(facts_gdp)

facts_gdp_spark.filter(lower(col("geo_name")).rlike(county_name.lower())).select("geo_name","project_county_name",
                                                                                   "census_location_id","2019").show()
print(facts_gdp_spark.filter(lower(col("geo_name")).rlike(county_name.lower())).select("geo_name","project_county_name",
                                                                                   "census_location_id","2019").count())

facts_gdp_spark_2.filter(lower(col("geo_name")).rlike(county_name.lower())).select("geo_name","2019").show()
print(facts_gdp_spark_2.filter(lower(col("geo_name")).rlike(county_name.lower())).select("geo_name","2019").count())

dim_census_location.filter(lower(col("project_county_name"))\
                           .rlike(county_name.lower()))\
                            .select("project_county_name","census_location_id","cd").show()
print(dim_census_location.filter(lower(col("project_county_name"))\
                           .rlike(county_name.lower()))\
                            .select("project_county_name","census_location_id","cd").count())

+----------+-------------------+------------------+------+
|  geo_name|project_county_name|census_location_id|  2019|
+----------+-------------------+------------------+------+
|Marion, AL|             MARION|       68719477870|876567|
|Marion, AL|             MARION|       68719477746|876567|
|Marion, AL|             MARION|       60129543260|876567|
|Marion, AL|             MARION|       60129543222|876567|
|Marion, AL|             MARION|       60129543212|876567|
|Marion, AL|             MARION|       60129543208|876567|
|Marion, AL|             MARION|       60129543127|876567|
|Marion, AL|             MARION|       60129542238|876567|
|Marion, AL|             MARION|       60129542218|876567|
|Marion, AL|             MARION|       51539608601|876567|
|Marion, AL|             MARION|       51539608556|876567|
|Marion, AL|             MARION|       51539608426|876567|
|Marion, AL|             MARION|       51539608388|876567|
|Marion, AL|             MARION|       51539608371|876567|
|Marion, AL|             MARION|       51539607871|876567|
|Marion, AL|             MARION|       51539607857|876567|
|Marion, AL|             MARION|       42949672970|876567|
|Marion, AL|             MARION|       34359739148|876567|
|Marion, AL|             MARION|       34359738959|876567|
|Marion, AL|             MARION|       25769804250|876567|
+----------+-------------------+------------------+------+
only showing top 20 rows

3519
+----------+--------+
|  geo_name|    2019|
+----------+--------+
|Marion, AL|  876567|
|Marion, AL| 100.701|
|Marion, AL|  915689|
|Marion, AR|  570355|
|Marion, AR| 113.719|
|Marion, AR|  591863|
|Marion, FL|10291593|
|Marion, FL| 105.406|
|Marion, FL|10762229|
|Marion, GA|  108748|
|Marion, GA|  95.168|
|Marion, GA|  114567|
|Marion, IL| 1325981|
|Marion, IL| 100.278|
|Marion, IL| 1385156|
|Marion, IN|95126100|
|Marion, IN| 105.593|
|Marion, IN|98738022|
|Marion, IA| 2205597|
|Marion, IA| 114.456|
+----------+--------+
only showing top 20 rows

51

+-------------------+------------------+-----+
|project_county_name|census_location_id|   cd|
+-------------------+------------------+-----+
|             MARION|                17|IA-01|
|             MARION|                67|IN-07|
|             MARION|                76|IN-07|
|             MARION|                78|IN-07|
|             MARION|                80|IN-06|
|             MARION|                81|IN-07|
|             MARION|               404|OR-06|
|             MARION|        8589935574|TN-04|
|             MARION|       17179869433|OR-06|
|             MARION|       17179869451|OR-06|
|             MARION|       17179869459|OR-06|
|             MARION|       17179869466|OR-05|
|             MARION|       17179869471|OR-06|
|             MARION|       17179869481|OR-06|
|             MARION|       17179869496|OR-05|
|             MARION|       17179869947|IA-01|
|             MARION|       17179870005|IA-01|
|             MARION|       25769804038|IN-07|
|             MARION|       25769804047|IN-07|
|             MARION|       25769804064|IN-07|
+-------------------+------------------+-----+
only showing top 20 rows

69

In [27]:
#Drop the columns facts_gdp no longer needs
facts_gdp_spark = facts_gdp_spark.drop("geo_name_split", "project_city","project_county_name",
                                      "project_state","project_zip","cd")

#Recheck the columns to make sure everyting is correct
print(facts_gdp_spark.columns)

facts_gpd_spark_after_count = facts_gdp_spark.count()
facts_gpd_pandas_count =len(facts_gdp)
dim_census_location_count = dim_census_location.count()

print("Fact_GPD_SPARK_BEFORE: "+str(facts_gpd_spark_before_count))
print("Fact_GPD_SPARK_AFTER: "+str(facts_gpd_spark_after_count))
print("Fact_GPD_PANDAS: "+str(facts_gpd_pandas_count))
print("DIM_Census_Location: "+str(dim_census_location_count))

#Overwrite the orignal facts_gdp with the updated one that contains the census_location_id
#facts_gdp = facts_gdp_spark.toPandas()
#del facts_gdp_spark

['geofips', 'geo_name', 'region', 'table_name', 'line_code', 'description', 'unit', '2017', '2018', '2019', '2020', '2021', '2022', 'census_location_id']

Fact_GPD_SPARK_BEFORE: 9531
Fact_GPD_SPARK_AFTER: 127020
Fact_GPD_PANDAS: 9531
DIM_Census_Location: 10549

In [28]:
#Check how many of facts_gdp is null after join
!pip install handyspark
import numpy as np
np.bool = np.bool_
from handyspark import *
hsdf = HandyFrame(facts_gdp_spark)
hsdf.isnull()

Requirement already satisfied: handyspark in /opt/conda/miniconda3/lib/python3.11/site-packages (0.2.2a1)
Requirement already satisfied: pyspark in /usr/lib/spark/python (from handyspark) (3.5.1)
Requirement already satisfied: matplotlib in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (3.8.4)
Requirement already satisfied: numpy in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (1.26.4)
Requirement already satisfied: scipy in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (1.11.4)
Requirement already satisfied: seaborn in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (0.13.2)
Requirement already satisfied: pandas in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (2.1.4)
Requirement already satisfied: scikit-learn in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (1.3.2)
Requirement already satisfied: findspark in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (2.0.1)
Requirement already satisfied: pyarrow in /opt/conda/miniconda3/lib/python3.11/site-packages (from handyspark) (14.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (23.1)
Requirement already satisfied: pillow>=8 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/miniconda3/lib/python3.11/site-packages (from matplotlib->handyspark) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pandas->handyspark) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pandas->handyspark) (2024.2)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pyspark->handyspark) (0.10.9.7)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/miniconda3/lib/python3.11/site-packages (from scikit-learn->handyspark) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/miniconda3/lib/python3.11/site-packages (from scikit-learn->handyspark) (3.5.0)
Requirement already satisfied: six>=1.5 in /opt/conda/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib->handyspark) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

/usr/lib/spark/python/pyspark/sql/dataframe.py:168: UserWarning: DataFrame.sql_ctx is an internal property, and will be removed in future releases. Use DataFrame.sparkSession instead.
  warnings.warn(
/usr/lib/spark/python/pyspark/sql/dataframe.py:147: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

geofips               0
geo_name              0
region                0
table_name            0
line_code             0
description           0
unit                  0
2017                  0
2018                  0
2019                  0
2020                  0
2021                  0
2022                  0
census_location_id    0
Name: missing, dtype: int64

In [29]:
#Add unique ID
facts_gdp_spark = facts_gdp_spark.withColumn("facts_gdp_id", monotonically_increasing_id()+1)

#Add to tables
tables.append([facts_gdp_spark,"facts_gdp"])

# Facts PPP Loans

In [30]:
dim_industry.head()

,NAICS_code,industry_name,industry_type,industry_id
0,11,"Agriculture, Forestry, Fishing and Hunting","Agriculture, Forestry, Fishing and Hunting",1
1,111,Crop Production,"Agriculture, Forestry, Fishing and Hunting",2
2,1111,Oilseed and Grain Farming,"Agriculture, Forestry, Fishing and Hunting",3
3,11111,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",4
4,111110,Soybean Farming,"Agriculture, Forestry, Fishing and Hunting",5

In [31]:
#small function to convert date columns to date_id to connect to dim_date table.
def date_to_id(df, column_name):
    df = df.withColumn(column_name+"_id", date_format(column_name, "yyyyMMdd"))
    df = df.drop(column_name)
    return df


#Create facts
facts_PPP_loans = ppp_df.select("SBAGuarantyPercentage","InitialApprovalAmount","CurrentApprovalAmount",
                               "UndisbursedAmount","ForgivenessAmount","LoanNumber","LoanStatus","Term",
                               "RuralUrbanIndicator","HubzoneIndicator","LMIIndicator","JobsReported",
                                "date_approved", "loan_status_date","forgiveness_date",
                               "SBAOfficeCode","ServicingLenderLocationID","OriginatingLenderLocationID",
                               "ProcessingMethod","NAICSCode")

#Convert date cols to date_ids so we can connect it to the dim date if needed
facts_PPP_loans = date_to_id(facts_PPP_loans,"date_approved")
facts_PPP_loans = date_to_id(facts_PPP_loans,"loan_status_date")
facts_PPP_loans = date_to_id(facts_PPP_loans,"forgiveness_date")


#Fix names
facts_PPP_loans = df_to_snake_case(facts_PPP_loans)
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("s_b_a_office_code","sba_office_code")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("s_b_a_guaranty_percentage","sba_guaranty_percentage")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("servicing_lender_location_i_d","servicing_lender_location_id")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("originating_lender_location_i_d","originating_lender_location_id")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("l_m_i_indicator","lmi_indicator")
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("n_a_i_c_s_code","NAICS_code")


#Add foreign IDs
facts_PPP_loans = facts_PPP_loans.withColumn("census_location_id", monotonically_increasing_id()+1) 
facts_PPP_loans = facts_PPP_loans.withColumn("borrower_id", col("loan_number")) 

#Adding the industry_id as a foreign key.
#- 1st, join facts dataframe with dim_industry on the naics code
facts_PPP_loans = facts_PPP_loans.join(spark.createDataFrame(dim_industry), 
                                       on="NAICS_code", how="inner")
#- 2nd, drop all columns from dim_industry beside the industry id
facts_PPP_loans = facts_PPP_loans.drop("NAICS_code","industry_type","industry_name")

#- 3rd, rename industry_id to NAICS_code_industry_id
facts_PPP_loans = facts_PPP_loans.withColumnRenamed("industry_id","NAICS_code_industry_id")

#Add unique IDs
facts_PPP_loans = facts_PPP_loans.withColumn("fact_ppp_id", monotonically_increasing_id()+1)

#Add to tables
tables.append([facts_PPP_loans,"facts_PPP_loans"])

#Show
facts_PPP_loans.columns

Transforming PySpark DataFrame...
Completed transforming PySpark DataFrame.

['sba_guaranty_percentage',
 'initial_approval_amount',
 'current_approval_amount',
 'undisbursed_amount',
 'forgiveness_amount',
 'loan_number',
 'loan_status',
 'term',
 'rural_urban_indicator',
 'hubzone_indicator',
 'lmi_indicator',
 'jobs_reported',
 'sba_office_code',
 'servicing_lender_location_id',
 'originating_lender_location_id',
 'processing_method',
 'date_approved_id',
 'loan_status_date_id',
 'forgiveness_date_id',
 'census_location_id',
 'borrower_id',
 'NAICS_code_industry_id',
 'fact_ppp_id']

# Functions for saving

Note: All functions assume we have global variable "bucket" that contains the name of the bucket we are working with

In [32]:
def check_folder_exists(folder_name):
    
    # Grab the bucket
    client = storage.Client()
    bucket_ = client.get_bucket(bucket)
    
    # List objects in the bucket with the folder prefix
    blobs = bucket_.list_blobs(prefix=folder_name + '/')
    
    # Check if any blob exists under this folder
    for blob in blobs:
        if blob.name.startswith(folder_name + '/'):
            print(f"Folder '{folder_name}' exists in bucket '{bucket}'.")
            return True
    
    print(f"Folder '{folder_name}' does not exist in bucket '{bucket}'.")
    return False

In [33]:
def create_folder(path, name):
    
    if check_folder_exists(name): 
        print(path+name+'/'+' already exists. Abandoning folder creation')
        return
    
    # Initialize the GCS client
    client = storage.Client()

    # Get the bucket
    _bucket = client.get_bucket(bucket)

    # Define the folder path
    folder_path = path+name+'/'

    # Create a dummy file in the folder (this will simulate the folder in GCS)
    # The 'blob' will not be a real file, but will create the "folder"
    blob = _bucket.blob(folder_path + 'placeholder.txt')  # You can name it anything, like 'placeholder.txt'

    # Upload an empty string or any content to simulate the folder creation
    blob.upload_from_string('')

    print(f"Folder '{folder_path}' created successfully in the bucket '{bucket}'")

In [34]:
def delete_files_named(name_of_file_to_delete):
    # Initialize a client
    client = storage.Client()

    # Specify the bucket name
    _bucket = client.bucket(bucket)

    # List and delete all files named "placeholder.txt"
    blobs = _bucket.list_blobs()

    count_deleted = 0
    for blob in blobs:
        if blob.name.endswith(name_of_file_to_delete):
            blob.delete()
            print(f"Deleted: {blob.name}")
            count_deleted += 1
            
    
    print(f"Deletion of all '{name_of_file_to_delete}' files is complete. Total deleted: "+str(count_deleted))

In [35]:
def save_df(df,name,save_as="parquet",gcs_path=None):

    #we must define the bucket variable at the start of the script, before calling this function.
    
    # Define the GCS path for saving the file
    if gcs_path == None:
        gcs_path = 'gs://'+bucket+'/dim_ready/'+name+'/'+name+'.'+save_as
    
    
    
    print(f"Creating '{name}' folder...")
    create_folder('dim_ready/',name)
    delete_files_named("placeholder.txt")
    
    print("Beginning saving process...")
    flag = 0 # this var will let us know is there as been an error
    
    #Saves Pandas dataframe
    if isinstance(df, pd.DataFrame):
        # Initialize GCS file system
        fs = gcsfs.GCSFileSystem(project='cis4400-group-project')

        # Save DataFrame to the "cleaned" folder in the GCS bucket
        with fs.open(gcs_path, 'w') as f:
            if save_as == "csv":
                df.to_csv(f, index=False)
            else:
                print("INVALD FILE FORMAT. TRY [csv]")
                flag+=1
        
        if flag == 0:
            print("Successfully saved "+name+ "!")
    
    #Saves PySpark dataframe
    elif isinstance(df, PySparkDataFrame):
        if save_as == "parquet":
            df.write.parquet(gcs_path,mode="overwrite")
        elif save_as == "csv":
            df.write.csv(gcs_path,mode="overwrite")
        elif save_as == "avro":
            df.write.format("avro").save(gcs_path,mode="overwrite")
        else:
            print("INVALD FILE FORMAT. TRY [csv] or [parquet] or [avro]")
            flag+=1
        
        if flag == 0:
            print("Successfully saved "+name+ "!")
        
    #No valid dataframe found
    else:
        print("ERROR: INVALID DATAFRAME - NO PROCEDURE APPLIED")

In [36]:
#this function accepts a list of tables, that each contain 2 elements, the table itself, and the name of the table.
#Example, table[0] = [df_1,"df_1_name"], table[1][0] = df_2, table[3][1] = "df_4_name"
def save_list_of_df(list_of_tables,pandas_save="csv",pyspark_save="parquet"):
    for table in list_of_tables:
        if isinstance(table[0], pd.DataFrame):
            save_df(table[0],table[1],save_as=pandas_save)
        elif isinstance(table[0], PySparkDataFrame):
            save_df(table[0],table[1],save_as=pyspark_save)

# Saving Dims and Facts

In [37]:
#We will simply save all Pandas dataframes as CSV's and all PySpark ones as parquet

ENABLE_SAVE = False #boolean to quickly turn on/off saving. Good to turn off saving when debugging.

if ENABLE_SAVE:
    save_list_of_df(tables)

In [38]:
# ISSUES

# There are null values in industry type when joining it on NAICS code. That is because the naics code wasnt found
# inside the dim_industry table. So no value was able to come of it. 


# DIFFERENCES BETWEEN THIS AND CURRENT DIM MODEL

# PPP Fact Table currently has "term" and "term_date_id" in the model. However...
# Script wise, I did not include term_date_id, and left term as is since it doesnt correspond to a date.